<%= render "shared/header" %>

<body class="bg-secondary text-light d-flex align-items-stretch flex-wrap">
  <div class="bg-secondary text-light d-flex align-items-stretch flex-wrap container-fluid">
    <h4><br/>Bientôt un formulaire de contact :)</h4>
  </div>
</body>